@using GridMvc.Html
@using GridMvc.Sorting
@model Grid.Mvc.Ajax.GridExtensions.AjaxGrid<AssistantTraining.ViewModel.TrainingWorkersGridData>

@{ 

    string TrainingNumber = String.Empty;
    if (Model.DisplayingItemsCount > 0)
    {
        TrainingNumber = Model.GridItems.First().TrainingNumber;
    }
}
<div class="row top10"></div>
<a href="@Url.Action("Excel", "Training")" class="btn btn-default">
    Export to Excel
    <span class="glyphicon" aria-hidden="true"></span>
</a>
@(
    Html.Grid(Model).Named("TrainingWorkersGrid")
        .Columns(columns =>
        {
            columns.Add(f => f.WorkerID, true);
            columns.Add(f => f.TrainingNameId, true);
            columns.Add(f => f.WorkerLastName).Titled("Nazwisko").Sortable(true).Filterable(true).SetWidth(110);
            columns.Add(f => f.WorkerFirstMidName).Titled("Imię").Sortable(true).Filterable(true).SetWidth(110);
            columns.Add()
                .Encoded(false)
                .Titled("")
                .Sanitized(false)
                .SetWidth(30)
                .RenderValueAs(o => Html.CheckBox("checked", (o.DateOfTraining == null ? false : true), new { @class = "check-item", ID = "trained" }));
        })
        .Sortable()
        .WithPaging(10))
<div class="row top10">

</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
    <form id="myform">
        <div class="col-md-2">
            <span>
                <input type="text" placeholder="Training number" id="TrainingNumber" name="field1" class="form-control" value="@TrainingNumber" required>
            </span>
        </div>
        <div class="col-md-2">
            <span id="sandbox-container">
                <input type="text" placeholder="Date" id="TrainingDate" name="field2" class="form-control" required>
            </span>
        </div>
    </form>
        <div class="col-md-2">
            <input type="button" class="btn btn-info col-md-10" value="Save" id="SaveTrainingWorkersGrid" />
        </div>

</div>

