@using GridMvc.Html
@using GridMvc.Sorting
@model Grid.Mvc.Ajax.GridExtensions.AjaxGrid<AssistantTraining.ViewModel.TrainingWorkersGridData>


@(
    Html.Grid(Model).Named("TrainingWorkersGrid")
        .Columns(columns =>
        {
        columns.Add(f => f.WorkerLastName).Titled("Last Name").Sortable(true).Filterable(true).SetWidth(110);
        columns.Add(f => f.WorkerFirstMidName).Titled("First Name").Sortable(true).Filterable(true).SetWidth(110);
        columns.Add()
            .Encoded(false)
            .Titled("")
            .Sanitized(false)
            .SetWidth(30)
            .RenderValueAs(o => Html.CheckBox("checked", (o.DateOfTraining == null ? false : true), new { @class = "check-item", ID = o.WorkerID }));
        })
        .Sortable()
        .WithPaging(10))
<div class="row top10">

</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
    <div class="col-md-2">
        <span>
            <input type="text" placeholder="Training number" class="form-control">
        </span>
    </div>
    <div class="col-md-2">
        <span id="sandbox-container">
            <input type="text" placeholder="Date" class="form-control">
        </span>
    </div>
    <div class="col-md-2">
        <input type="button" class="btn btn-info col-md-10" value="Save" id="SaveTrainingWorkersGrid" />
    </div>

</div>

