@*@using GridMvc.Html
@using GridMvc.Sorting
@model Grid.Mvc.Ajax.GridExtensions.AjaxGrid<AssistantTraining.Models.TrainingGroup>*@

@model IEnumerable<AssistantTraining.Models.TrainingGroup>
@using GridMvc.Html



@(
    Html.Grid(Model).Named("TrainingGrid")
        .Columns(columns =>
        {
            columns.Add(f => f.TrainingName.Number).Titled("Training Number").SetWidth(110);
            columns.Add(f => f.Instruction.Number).Titled("Instruction Number").SetWidth(110);
            columns.Add(f => f.Instruction.Version).Titled("Version").SetWidth(110);
            //columns.Add(f => f.Instruction.Number).Titled("Instruction Number").SetWidth(110); 
            columns.Add()
                    .Encoded(false)
                    .Sanitized(false)
                    .SetWidth(30)
                    .RenderValueAs(f => Edit(f.TrainingNameId));
        })
        .Sortable()
        .WithPaging(50))

@helper Edit(int Id)
{          
         <span><a href="@Id" id="untrained">Untrained</a></span>
    @:|  <span><a href="@Id" id="trained">Trained</a></span>
           
    if (User.IsInRole("Administrator"))
    {
        @:| @Html.ActionLink("Delete", "DeleteTraining", new { id = Id })
    }
}


