@model AssistantTraining.ViewModel.GroupDetails
@using GridMvc.Html

@{
    ViewBag.Title = "Details";
    var instr = Model.Instructions.AsEnumerable();

}

<h2>Details</h2>

<div>
    <h4>Group</h4>
    <hr />
    <h4>@Model.GroupName</h4>


        @Html.Grid(instr).Columns(columns =>
        {
            columns.Add(foo => foo.Name).Titled("Nazwa").SetWidth(110);
            columns.Add(foo => foo.Number).Titled("Numer").SetWidth(110);
        }).WithPaging(10)

    
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
