<link href="https://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" rel="stylesheet" />
<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>

<table id="example">
    <thead>
        <tr><th>Sites</th></tr>
    </thead>
    <tbody>
        <tr><td>SitePoint</td></tr>
        <tr><td>Learnable</td></tr>
        <tr><td>Flippa</td></tr>
    </tbody>
</table>


<script type="text/javascript">
  $(function(){
    $("#example").dataTable();
  })
</script>